html, head, header, footer {
margin: 0;
padding: 0;
border: 1;
font-size: 100%;
font: Comic Sans;
vertical-align: baseline;
}

/* Body */

body {
font-size: 30px;
font-family: Arial, Arial, Helvetica, sans-serif;
line-height: 2.5;
background: #2C1DD8;
 }
